/* src/App.css */  
.App {  
  text-align: center;  
  font-family: Arial, sans-serif;  
  background-color: #f4f4f4;  
  min-height: 100vh;  
  padding-bottom: 60px; /* Space for the footer */  
}  

.header {  
  background-color: #e0e2e0;  
  padding: 20px;  
  color: rgb(23, 15, 15);  
}  

.logo {  
  width: 100px; /* Adjust the size of the logo */  
  height: auto;  
}  

.app-title {  
  margin: 10px 0;  
  font-size: 2.5em;  
}  

.navbar {  
  background-color: #4492f1;  
  padding: 25px 0;    
}  

.navbar ul {  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
}  

.navbar li {  
  display: inline;  
  margin: 0 15px;  
}  

.navbar a {  
  color: white;  
  text-decoration: none;  
  font-weight: bold;  
}  

.navbar a:hover {  
  text-decoration: underline;  
  color: #4CAF50; /* Change color on hover */  
}  

.footer {  
  background-color: #4492f1;   
  color: white;  
  padding: 10px 0;  
  position: fixed;  
  bottom: 0;  
  width: 100%;  
}  